:root {
  --dark: #032e42;
  --blue: #084f93;
  --grey: #7c7c7c;
}

header {
  background-color: var(--blue);
  color: white;
  height: 70px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  padding-top: 22px;
}

h2 {
  font-size: 20px;
  font-weight: bolder;
}

.card {
  border: transparent;
}
.card-footer {
  border-top: 0;
}

.search-label {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
}

.card-header,
.card-footer {
  background-color: transparent;
}
.custom-btn {
  height: 30px;
  text-align: center;
  background-color: #2196f3;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.listBtn {
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: #7c7c7c;
  border-radius: 5px;
}

#city-info {
  border: 1px solid var(--dark);
}

#city-name {
  font-size: 25px;
  font-weight: bolder;
}

#city-forecast {
  margin-top: 20px;
}

.col-lg-2,
.col-lg-2 .list-group-item {
  border: 2px solid var(--dark);
  background-color: var(--dark);
  color: aliceblue;
}

.custom-margin {
  margin-left: 0;
  margin-right: 0;
}

.h3 {
  font-size: 20px;
  font-weight: bolder;
}

.forecastIcon {
  padding: 0;
}
